.background{
	background-color:#c1e1ec;
}

.title{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.text{
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 25px;
}

.grid{
	display : grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 300px;
	padding-top: 75px;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

pre code {
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 10px;
	font-size: 15px;
	word-wrap: break-word;
	white-space: pre-wrap;
}

ins{
	background-color: #90EE90;
	text-decoration:none;
} 

del{
	background-color: #FFB6C1;
}

.example-image-small{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height:256px;
	width:256px;
}

.example-image-big{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height:350px;
	width:350px;
	padding-bottom: 25px;
}

.link-to-tuts-list{
	text-align: center;
	font-size: 18px;
}
